.blogHeader1 {
	background-color: #ADD8E6;
	border-radius: 8px;
	position: relative;
	text-indent: 20px; 
	left: -20px;
	top: -10px;
	width: 830px;
	color: #ffffff;
}

.card-container1 {
	background-color: #ffffff;
	position: relative;
	width: 790px;
	top: -30px;
	left: -10px;
	padding: 10px 10px 5px 10px;
}
		