@import url("sidebarStyle.css");

.blogHeader1 {
    margin: auto;
	background-color: #ADD8E6;
	border-radius: 8px;
	position: relative;
	text-indent: 40px; 
	left: -40px;
	top: -10px;
	width: 108%; /*845px;*/
	color: #ffffff;
}

.card-container1 {
    /*max-width: 800px;*/
    margin: auto;
	background-color: white;
	position: relative;
	width: 90%; /*760px;*/
	top: -30px;
	left: -10px;
	padding: 10px 10px 5px 10px;
}

p.indent{
	padding-left: 1.8em
}
		