@import url("sidebarStyle.css");

.button{
	/*background-color: #ADD8E6;*/ /* Green */
	border: none;
	width: 5%; /*100px*/
	position: relative;
	left: 10%;
	color: #000000;
	padding: 16px 16px;
	text-align: center;
    vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    -moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; /* Specifically for Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 15px;
}
		
.button1{
    /*background-color: #ADD8E6;*/ /*color or the side bar*/
    background-color: var(--sidebarColor);
	color: var(--templateColor1); 
	border: 2px solid var(--templateColor1);
    /*551a8b*/
}

.button1:hover {
	background-color: var(--templateColor1);
	color: var(--sidebarColor);
	border: 2px solid var(--templateColor1);
}