.name-title{
    /*max-width: 845px;*/
    top: 1%;
    width: 100%;
    margin: auto;
	position: absolute;
	color: #000000;
	text-align: center;
    vertical-align: middle;
	text-decoration: none;
	font-size: 22px;
}

img {
    border-radius: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}