:root{
    --background: #e0e0e0;
    --sidebarColor: #000000;
    --templateColor1: #ffffff;
}

body {
	font-family: "Lato", sans-serif;
	background-color: var(--background);
}


.main {
	/*margin-left: 250px; 
    margin-top: 120px;*/ /* little larger than height of the sidenav */
    /*max-width: 845px;*/
    margin: auto;
    margin-top: 7%;
}

.contentBox{
    /*max-width: 845px;*/
    position: absolute;
   /* margin-left: auto;*/
    /*margin-right: auto;*/
    top: 18%; /*170px;*/
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    background: white;
    padding: 10px;
}

.sidenav {
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 0;
    margin: auto;
    /*background-color: var(--background);*/
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #111111;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenavBar{
    height: 10%; /*95px*/
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 10%;
    left: 0;
    margin: auto;
    background-color: var(--sidebarColor);
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1000px) { /*These needs to be corrected for mobile use*/
    /*https://www.w3schools.com/Css/css3_mediaqueries_ex.asp*/
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .button{
    padding: 0px 0px;
    left: 0;
    width: 24%;
      height: 60%;
    }
    .contentBox{
        width: 100%;
        left: 0;
        margin-left: 0px;
    }
}