body {
	font-family: "Lato", sans-serif;
	background-color: #e0e0e0;
}

.main {
	margin-left: 250px; 
    margin-top: 120px; /* little larger than height of the sidenav */
}

.sidenav {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ADD8E6;
    overflow: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #111111;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}